<div style="text-align:left">
  <h1>
    Verification
  </h1>
</div>
<div class="row">
  <div class="col-md-8">
    <table  class="table table-responsive table-striped table-bordered table-hover">
      <tr>
        <th>
          Aircraft Type
        </th>
        <th>
          MSN
        </th>
        <th>
          AD Ref No
        </th>
        <th>
          Reference Type
        </th>
        <th>
          Hit Rate
        </th>
        <th>

        </th>
      </tr>
      <tr *ngFor="let verification of verifications">
        <td>
          {{verification.acType}}
        </td>
        <td>
          {{verification.msn}}
        </td>
        <td>
          {{verification.adRefNo}}
        </td>
        <td>
          {{verification.refType}}
        </td>
        <td>
          {{verification.hitRate}}
        </td>
        <td>
          <button>Accept</button>
        </td>
      </tr>
    </table>
  </div>
</div>
<!--<div class="row">-->
  <!--<div class="col-md-12">-->
    <!--<table  class="table table-responsive table-striped table-bordered table-hover">-->
      <!--<tr>-->
        <!--<th>-->
          <!--Aircraft Type-->
        <!--</th>-->
        <!--<th>-->
          <!--MSN-->
        <!--</th>-->
        <!--<th>-->
          <!--AD Ref No-->
        <!--</th>-->
        <!--<th>-->
          <!--Reference Type-->
        <!--</th>-->
        <!--<th>-->
          <!--Hit Rate-->
        <!--</th>-->
        <!--<th>-->

        <!--</th>-->
      <!--</tr>-->
      <!--<tr *ngFor="let assignment of assignments"  (load)=" loadAssignments()">-->
        <!--<td>-->
          <!--{{assignment.acType.series}}-->
        <!--</td>-->
        <!--<td>-->
          <!--{{assignment.acType.msn}}-->
        <!--</td>-->
        <!--<td>-->
          <!--{{assignment.adNote.no}}-->
        <!--</td>-->
        <!--<td>-->
          <!--{{assignment.refType.name}}-->
        <!--</td>-->
        <!--<td>-->
          <!--{{assignment.hitRate}%-->
        <!--</td>-->
        <!--<td>-->
          <!--<button>Accept</button>-->
        <!--</td>-->
      <!--</tr>-->
    <!--</table>-->
  <!--</div>-->
<!--</div>-->

